// $theme-colors: (
//   "primary": #ccc,
//   "secondary": #ff6a5c
// );


// $primary: #ccc;
// $secondary: #ff6a5c;
// $nav-tabs-link-active-color: #9b2525;
$input-btn-focus-box-shadow:  none;
$input-btn-padding-x: 5px;
$input-border-color: #a239ca;
$input-focus-border-color: #a239ca;
$input-border-width: 2px;
$input-border-radius: none;
$input-bg: transparent;
$list-group-border-color: none;
$list-group-item-padding-x: 25px;
$list-group-bg: #cdcdcd;
$btn-border-radius: none;
$dropdown-bg: rgba(68,68,68,0.3);
// $nav-pills-link-active-color: #a239ca;  
// $component-active-color:      red;
// $component-active-bg:        blue;


$web-font-path: 'https://fonts.googleapis.com/css?family=Montserrat';
@import url($web-font-path);

@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');


// Bootstrap Sass Imports
@import 'node_modules/bootstrap/scss/bootstrap';


@import 'body'; 
@import 'header';
@import 'map';
@import 'footer';
